---
spring:
  application:
    environment: test
  data:
    redis:
      password: ${REDIS_PASSWORD}
      sentinel:
        master: mymaster
        password: ${REDIS_PASSWORD}
        nodes:
          - eidas-redis-sentinel-node-0.eidas-redis-sentinel-headless:26379
          - eidas-redis-sentinel-node-1.eidas-redis-sentinel-headless:26379
          - eidas-redis-sentinel-node-2.eidas-redis-sentinel-headless:26379
eidas:
  countries:
    test: true
  eu-connector:
    redirect-uri: https://connector.test.eidasnode.no/SpecificConnectorRequest
  cache:
    response-secret: ${LIGHT_TOKEN_CONNECTOR_RESPONSE_SECRET}
    request-secret: ${LIGHT_TOKEN_CONNECTOR_REQUEST_SECRET}
  oidc-server:
    issuer: https://idporten-connector.test.eidasnode.no
    clients:
      - client-id: idporten
        client-secret: ${CLIENT_SECRET_IDPORTEN_TEST_CLIENT_SECRET_BASIC}
        scopes:
          - openid
        redirect-uris:
          - https://login.test.idporten.no/authorize/callback/eidas
  freg-gw:
    enabled: false
    demo-country-code-map:
      CA: SWE
  nobid:
    enabled: true
    demo-country-code-map:
      CA: SE
    matching-service:
      id: nobid
      issuer: https://match.nobid.id/oidc
      authorization-endpoint: ${eidas.nobid.matching-service.issuer}/authorization
      token-endpoint: ${eidas.nobid.matching-service.issuer}/token
      jwks-uri: ${eidas.nobid.matching-service.issuer}/jwks.json
      pushed-authorization-request-endpoint: ${eidas.nobid.matching-service.issuer}/par
      client-id: idporten-eidas-connector
      scopes:
        - openid
      redirect-uri: https://idporten-connector.test.eidasnode.no/nobid/callback
      client-authentication-method: private_key_jwt
      kid: dev #ikke egentlig i bruk
      client-keystore:
        type: ${NOBID_CLIENT_KEYSTORE_TYPE}
        location: base64:${NOBID_CLIENT_KEYSTORE}
        password: ${NOBID_CLIENT_KEYSTORE_PASSWORD}
        key-alias: ${NOBID_CLIENT_KEY_ALIAS}
        key-password: ${NOBID_CLIENT_KEY_PASSWORD}
