---
management:
  server:
    port:
  endpoint:
    health:
      show-details: always
      show-components: always
spring:
  application:
    environment: local-docker
  main:
    log-startup-info: true
  data:
    redis:
      port: 6379
      host: redis
digdir:
  event:
    logging:
      feature-enabled: false

eidas:
  countries:
    test: true
  eu-connector:
    redirect-uri: http://eidas-connector:8083/SpecificConnectorRequest
  oidc-server:
    issuer: http://eidas-idporten-connector:8088
    clients:
      - client-id: idporten
        client-secret: password
        scopes:
          - openid
        redirect-uris:
          - http://127.0.0.1:7070/authorize/callback/eidas
          - http://idporten:7070/authorize/callback/eidas
      - client-id: testclient
        client-secret: password
        scopes:
          - openid
          - profile
        redirect-uris:
          - http://localhost:8888/idporten-oidc-client/authorize/response
          - http://127.0.0.1:8888/idporten-oidc-client/authorize/response
          - http://localhost:8888/authorize/response
          - http://127.0.0.1:8888/authorize/response
          - http://testclient:8888/authorize/response
          - http://idporten:7070/authorize/callback/eidas
  cache:
    response-secret: mySecretConnectorResponse
    request-secret: mySecretConnectorRequest
  freg-gw:
    enabled: false
    base-uri: http://freg-gateway:8080
    api-key: addf4903-9b76-47ca-b6f5-beb937cab8bb
    demo-country-code-map:
      CA: SWE
  nobid:
    enabled: true
    matching-service:
      id: nobid
      issuer: http://localhost:8080
      par-endpoint: ${eidas.nobid.issuer}/par
      client-id: democlient1
      client-secret: secret
      redirect-uri: http://eidas-connector:8083/nobid/callback

server:
  port: 8086
