---
management:
  server:
    port:
  endpoint:
    health:
      show-details: always
      show-components: always
spring:
  application:
    environment: local-docker
  main:
    log-startup-info: true
  data:
    redis:
      port: 6379
      host: redis
digdir:
  event:
    logging:
      feature-enabled: false

eidas:
  countries:
    test: true
  eu-connector:
    redirect-uri: http://eidas-connector:8083/SpecificConnectorRequest
  oidc-server:
    issuer: http://eidas-idporten-connector:8088
    clients:
      - client-id: idporten
        client-secret: password
        scopes:
          - openid
        redirect-uris:
          - http://127.0.0.1:7070/authorize/callback/eidas
          - http://idporten:7070/authorize/callback/eidas
      - client-id: testclient
        client-secret: password
        scopes:
          - openid
          - profile
        redirect-uris:
          - http://localhost:8888/idporten-oidc-client/authorize/response
          - http://127.0.0.1:8888/idporten-oidc-client/authorize/response
          - http://localhost:8888/authorize/response
          - http://127.0.0.1:8888/authorize/response
          - http://testclient:8888/authorize/response
          - http://idporten:7070/authorize/callback/eidas
  cache:
    response-secret: mySecretConnectorResponse
    request-secret: mySecretConnectorRequest
  freg-gw:
    enabled: false
    base-uri: http://freg-gateway:8080
    api-key: addf4903-9b76-47ca-b6f5-beb937cab8bb
    demo-country-code-map:
      CA: SWE
  nobid:
    enabled: true
    demo-country-code-map:
      CA: SE
    matching-service:
      id: nobid
      issuer: https://match.nobid.id/oidc
      authorization-endpoint: ${eidas.nobid.matching-service.issuer}/authorization
      token-endpoint: ${eidas.nobid.matching-service.issuer}/token
      jwks-uri: ${eidas.nobid.matching-service.issuer}/jwks.json
      pushed-authorization-request-endpoint: ${eidas.nobid.matching-service.issuer}/par
      client-id: idporten-eidas-connector
      scopes:
        - openid
      redirect-uri: http://eidas-idporten-connector:8088/nobid/callback
      client-authentication-method: private_key_jwt
      kid: dev
      client-keystore:
        type: jks
        location: base64:MIISFgIBAzCCEcwGCSqGSIb3DQEHAaCCEb0EghG5MIIRtTCCB3oGCSqGSIb3DQEHBqCCB2swggdnAgEAMIIHYAYJKoZIhvcNAQcBMF8GCSqGSIb3DQEFDTBSMDEGCSqGSIb3DQEFDDAkBBB6OgTGoUKPqJFFeVart9grAgIIADAMBggqhkiG9w0CCQUAMB0GCWCGSAFlAwQBKgQQk3FqUDvLnAWMgSIG6QEjgICCBvDFoQoZODwLKFcXJ0Kzx4ArLEewz3VLXZNKcHYiQuyB8D/69kaGY3XgD8ZZzg+8lyZQijRuk+b+2OLCbpx4vElc7H1NUK19O/MmlYanPfLJ1ojrKC2QEGxwPdoMch4EyhyrZeW5anxJVHMgz9z9HJu/6maK2vOnsjxIuUCsIDt5GprKWqWTDVZomaUHv6qld4aYiGqNYvoEt7JBWtp52IPHNUg7XgNkdI/MIL5+yPrjvlLLKQihQJAEOO6577nT06d7kPweNGOaKRSPA6/y2Eq60ppXd35xfDlcHb1Ofnbh0K5ANRKZtSWqzQsVsAsPTh4QR+WHEgJz8d51piefSgA0hVyH5B6wHWilcEbFnliQOAm9wuu6McDrRRHeXKvghhLA5cUxYShrW8hjC/KRs+nakJ/d/WsvTSM55rR75W8cr393VduE60XV+r8RVL18UXR9slkqECXo9cztKQqPriZEar3kAT24JIxjquta2GFwH6aO2B+Mhq3Hu9MRLgPaO3Eh4NUFE7xNNQJLeXl/b2n36K1cJFw9TIqtRM9n8NRiNeahfs7Eiq7FPaezw+/DQRSc0IXxU9et20xGtKjhDTFs8fzJadcmHLzKTphhmQEDX1r2Sdk63QlB+bOXSBvv97XznKqphGtU6jjLKDx6US2YpXM/oFzt9ibMsKvM6Kd1owxFbyGYspitjGacMkjyglA8M6IlgMN6XdtxBcKvgbo6nEra6KGx9qnyNEzGjq6iKxeHxy05DHd5LNu7eV5EL7MuLeVyVBNmNUk52pHox6Mi1KiEzu8WkCeAkKTbD85OjLO93QQdL6HLOwZQ0sWO9ElCREq6CoSIbTFLwpur3/Fe4BQc7u0EqcdM/ka0UUzDV3MhmU9QckxOAxGxuAqfu9f3kXl8fSj1RxcKzpDwkJ/guvZvdR6WK2IZO5VtzXM3kiw4SmF6d5snWJuTVhNZVLHg7REZUMOMYyQ6Tdsip8YJ0+ATWB1TiONjcfNHcrAExDyv44lRCoh6SxbrycfTdjIpC+kDNfK2Vr/O7S6/m8O6qIM46MGJSCgpBiYFAF/hygB09asN6IfPOCPngPuPNiuNbXIJHXEdQTNKl22ZJbU0/9zzwMmuGNPz8q/ryCTA8Ui2okk/v7lSuJFIDt4EHbpnJTzsdo0wlLOmNzGN2wJ6i/h1G/6rXuO5cSkqD6l0pQBmAjsbtDEyutAwfDado7lg1f4by0GooFTaUkSNT8BYf+NJIZjkxqAtWBz6EFQpPdwJf+ie5urRtK1hizK0LH8n6zlLsTJkjnVRkFIqfFzCeOoYTXL4qJZq3CbyngcjK0R2qGhp2cZbtFplEb213DluFKuVam2o5MkshwLAo/7qWUMvyEao4U6iK5WRIuu4ptXh+8TOkKoKk28sP9Yq77vXiLalFCqrsvpYsew0ueYghsT9JhdvIaLEAD4kBnwZUBaiBRDLKFkEWnQV70pQmVfcEMSBTJcu+ZpuuiQX+ZK29eGnvvEmBgbvBR0hYQtB3LYhTrwIenby6PO/l5NYqAEWho4+EGWNgsxc5phFdafv2dBu7pi/p3B+OPV0ohNYDrFfyMjFX/URJhW3e2N2vQcInl12P7uZnXvKMcm/FvKiqbWtOx5kS0I6e+fe2w5fcmC6MQ2RLbdMpp9BbF0Dt4mw1V5WO7wQ4eYe00//zwIDGGeIfaYb2381JDiN7kgdLOpx2e83Y9Z4gWNSbeOqSstXrd5WE4W9cvCCGip/nxzBmLOGIDoMM/jfh4JI8kjm7SY+SGJH+m1PQpW+FGCkTRbg5PUAfpk4TQNqmUqg/BaNhnfdiTDporksGdUiWO7lJM3bdKDtLogVJDXD6XjiUJ/5PXZLuu5S4IkfyC3CpA3qQinpE5uYPtnxkcBVMGkLfyI+hypYa7utpzpB6vu5CVU2GCJ++mQUITdBA2iVRYq6opDgUDIAp44optkwzlJvYRWkCEkMlDOCkA4dUrbiqR3BXKXeoTbtX545h+26SFQpFBlsn957NXwPje8wOv0QMaDbEX1J650NUOHG3Xacy0SP3g55aShY5FtfIty62mvw1IDIqh2Hq25ONLf0fVkQUySpxPbcyTEVyHkBvuiRYEZQDvIjwVpcFKLulYIwi4WkydmV/MBv7wTcCb8izO7rm18XVAcBSsHQBtZGXWep1deJ2EN67/JR14g8D3/kS3KutpcNj18eUfIIY+HzuZHdslnBbUcA2aX0Q0rB104NbpJG9qThvcMWINbgC9kJq0BCh3nASgtdPGzTao5gG4TpdDMyCPhng9G65UMiXLwZ8ib9WmEUB+fIEiYz/DCLddwk2lJ5rfp1a6KZSAcQ7RWfMCf4c5a5IVxsXSVYO5GccXQwggozBgkqhkiG9w0BBwGgggokBIIKIDCCChwwggoYBgsqhkiG9w0BDAoBAqCCCbkwggm1MF8GCSqGSIb3DQEFDTBSMDEGCSqGSIb3DQEFDDAkBBBwoglytn6t9iumv5kiEh4bAgIIADAMBggqhkiG9w0CCQUAMB0GCWCGSAFlAwQBKgQQKNGwLK1862AdPgeNEo8W1ASCCVC/6DvBRx88rNCd0PKIAvQE0SqMYHjOwVfua0PIedk5fWvre6b6JMhTmyXnf3BajvGzoAihg5kHn6fV/wT/3qSPkx4u5qO4ZmkeHqtFNRcT+F9U6+ovJPNojNy0sxvkpr5M0vGevIrhZiAS2nOCw8qNycnbaJNjTdP76XM859+yD3QhDZkAMZyXakaR5Y6X7gH0S79+DV2vGlQ3BN3B6LM81tn3Oi6wR+pJ4S2UWjEco6OIO7XxBGgoS279MynACMVV8TD/MSbwyGqBVkRtP8x9gzTk6xTMTYE5wU7ZQM1Tw1zJj9XnAzYxt9U77WyN9BlN+zB+U1AKe9XXPQE0mVP9r2Ej9bAzrfmk6nRwLvRmEbWoW+1tPhG541hgautudFbvTUJRiEbCnn9nhOfOCJU7tVJ5sJC23BcvVTBKPZDkK3/w2YyvnMVXvOpJdtNmVnpoxGFyWRfhPK/0pVZ/W49BZISPGG5mJXbF8FNh1zNIm5eUaRmJJrX0t6XCYdVrVL1+3kpZD0QvXAfxFfHJpvrrb3Ji21+GOv0BIrUJ/l1iLA1OHdM9lKz6XrGru5i0TZKT8l6uEaMyjDjUfX2c+37Qa7sW/xeeZR7Y+XcmE1EWo5oyaTnTWWZ6jyrCkv6papBT4QsnGMSOv/PhDgiuNUNWhA/DPF3v3SP/87qEK/C9Ts0G4vA4dsXxt1+BNE/yI+1LEnCtocVDwavjH3KA8/Gl3TOLf/NdAVti3g0qK1/mjdsxrtUdk1eLqgp5ZGV52x5+zDOC8gOzHW2clMr9vDvXm6fERc6vhPh4GmmHLELEIje0EWzUQwI2LPo28D6jwZft+M8V4hn0pBZCFQIFXXTxlTLnn9TdzBoqArh9GNjdbNoBJ+tSBmFDRi8nDrzvOCGzzQBn3hev0PBw4x4n2cNf1rDhzblBozYgvX+gpMZ8wCOYEgWmFP32aYE/UTJVr7yRQemlsk7UdWAJJnSCxouJilPmVfIXB5whU4vhpZc0PID8L6lRaWwSB05TuCH5LFEUllvUowkfDG3L977G7deV1ieMG7Uryp/IhvTz6/4vzrGsnu+TCZCZmV+Fn4hZSAA2ruf/J1NeXxEKvoBZ6eKXthzk1J2S1XC255n7U6VtjMkATsTbUxrN96Nz7LOZw3H21K0SzJHUwYjvJfrT45TpeeGiqa5amjA6FIAgkYqVPFfMWGmeCSKlyZYx67NsYiAleXjRGT9jMLdE5JucGWbe86m8zEjFnJy0wG6xQd0jetiKarc/JcLdRpQj2yHTAgfodoa/QinP0tzg2X5Xl+x+RBoZ0jJJoeP5TDBNqCLdIR646BIr9brbWfNnuxalAvIe59v+eEoj4dqDOgUsHYPmmaOzzq5WG+g56vsj5l7t/U/cGMNa5qYe/YPYK6WOxO6OYBcMgjXCDkKruNo9JMJR6V1AE3wzt9FzpQyz3PKjPtxH6sY7XhVwDnc4qDZ0uIiwo4NgwLxiN4Hj9R9fri5pU4/dflSx+S0NqtUcBaFbNv7fz8gVTJvc0MKOcW+qkqMWMdRqxO30gDKNvs2vL9RqOXeGfEuJUioHE+EyffSPnM8HEfdAJ50MnIFDxOMiiwzvh3qbSsqoGl09B4VSNXU1BU16YTmSmO0Mhv4GNlr/LKMAguq/0aSk+aL54XRn8DFFO5wV3bMosURMcC96UIvO+JOnbZiVRxe/M9EfIxFc4bRqRPD7hLMjGOR4ktPFnuti0biQwY2VtdtmdOJfuQ8rI6tG7j11JCiCnhbD4SrQbfDA5QZL7hDrmF9TK0yYZaDu+VWqFKe5QFA0jJ5NJlIJcQrHGvMBx05Rl5JyXG/3bBA718sp67ZuvKDUeJkH8mxf6hHp/9RjEuLU/7qKon5IJ0QrwkMyKEW0SXUt6zkwFHFYc4rtEgz28tOPM078jtqDbKaCpDic6MFDJ6nQApNO1J9k+kCEr8ZwJOOOBZPib/MJihBweqB1w2aauwgvQwtTMjRhDRyluOuWswPUAEwmRoLWvDf9EJ5/E2sx6xXI+wL7tM/p+sPpxbQ9aeZU35oMyT9XPNACvKwN1CiIxOOOQkhjYD/pvykX2VOn7seb3PSJlRNlSNhBBS9DlqTnDyBVdP2ZeG2SdCbeAhxeemwJFYcGH7vd4slz68hdtOlYm8LTGq8WsvLUwPzMjE7/N1nSLIfikA2hVHeM8oadV2fT3Gpy9a3vDgGQ/Xa4e5tSqLVnDMxOsYgHgwuPPwwdt2kUUy5SM0whaDnL39Hz11Ig9njEwMiQe5CySeqUQzJSFGrnFnjJ0tJDkaIn8PNRmXUFezbE46TBu2EbRnvYDqxcfyRSNfZFrSL2BZpeeqeIHQzCB0FV9QNhYT0YTeoCiqxN4Xzsg+WgpwL7bo8q7MrN2kuBBmykvhK5IMzQYieT4T8aQQkMjij+/UFgQPcer1sDSr67hfAkmwIWuJu6ZUf3L1gNCnawpBAmwSP9trTX4WcShWuPCCninfzEMpaHMPGTecsbpdUx8ZQiHc+30szHcLWE1QYnquxJZq6jwvhihnaJeXktiHQhDewRvv7hiVQv7RAzN0c5fuCAqb/vCeC2O4CD9aZoHk159Sd8NCCys5XZdpKpiy1tUbUPJTY8/EQU4WmaLTrkofyxX0AXOecWsnekJe2mBgn1MhaubKGmy9y3k/crJbSerljwysERQm9aOVHZrTO5Eniq8OGclSq2/HconLGpRpY+SeeMGrZ7mmzVNoMqCPSCFRHC2WzBdmI7r6ExYJQE4f5cMHQPO2RlA9HASbuGo4fIdvnj2b9M8x8nQFskggr5oGVHOizVns1fiRKe8Z3E9Dj2w/AXt8BQnE9LE4yzGouSe84m/GVoWkRcT5eUCOt7dwgwZBG3USVxRTqqUCw6lb2Dl52hE5yYcjEJ3zx0xW4JgtMeNGUDiZtvCNEDry41bdbcTLC+/U9Uv8agN3XwJ9zPW+Fnu3fRYe/ODvMMx/1ohHn4IHyL+vevzt5Y8H1k9SHtCfdNoviQ410PmlJsgodtrG7O37NvbePYo4xUp2CNNECdaNjh8yFvpW+vqekwbAlRI1RWTwTi/XpNQASe//TVDHQhER86vo2Z3wT5aiBKcnSJI5F6CJgQ4nlkI9wDtGRqPp8/nQX1rXCehwLycsYzHFctFZGSmX9w8hlwkGjZGKtnDAqIwzFMMCMGCSqGSIb3DQEJFTEWBBTfLVdpHZPj4lMg2LnALHB2SwyHYTAlBgkqhkiG9w0BCRQxGB4WAGQAaQBnAGQAaQByAC0AdABlAHMAdDBBMDEwDQYJYIZIAWUDBAIBBQAEIEwLbmvqrQ4ggi1bcKwScmAnoAcTVIXb0yQw1BXMdtZhBAjyJsrPSP/soAICCAA=
        password: changeit
        key-alias: digdir-test
        key-password: changeit


server:
  port: 8086
