<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title th:text="#{no.idporten.themed.htmlheader.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{|${staticResourcesBaseUri}/css/idp-style.css|}"
          href="https://static.idporten.no/latest/idp-style.css"/>
    <meta name="description" th:attr="content=#{no.idporten.htmlheader.description}"/>
    <meta name="keywords" th:attr="content=#{no.idporten.themed.htmlheader.keywords}"/>
    <meta name="language" th:attr="content=#{no.idporten.common.currentlang}"/>
</head>
</html>
