<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"/>

<body>

<header th:replace="~{fragments/toppanel :: toppanel}">...</header>

<main>
    <div class="box" id="main-content">

        <div class="box__header">
                      <h1 class="title-bar">
                <span class="title-bar__name" th:text="#{no.idporten.eidas.caption}"></span>
            </h1>

        </div>

        <div class="box__body">
            <h2>Your Selection:</h2>
            <p>You selected: <strong th:text="${selectedCountry}"></strong></p>
        </div>

    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}">...</footer>
<span th:replace="~{fragments/javascripts :: javascripts}">...</span>
</body>
</html>
